@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
  h1 {
    @apply uppercase font-semibold text-[4rem] leading-tight;
  }
  h2 {
    @apply text-4xl font-medium;
  }
  h3 {
    @apply text-2xl font-medium leading-[30px];
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 32px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
